# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build output
dist/
build/Release
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Environment variables
.env
.env.*
!.env.example

# Uploads
uploads/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
lib-cov
coverage
*.lcov
.nyc_output

# Caches
.cache
.parcel-cache
.eslintcache
.stylelintcache
.node_repl_history
.npm

# Package artifacts
*.tgz
.yarn-integrity

# Editor/tooling
.tern-port
.vscode-test

.vercel
.env*
